@if (profile) {
  <div class="profile-card">
    <div class="avatar-name">
      <img [src]="profile.avatarUrl | imgUrl" alt="avatar" class="profile-card__avatar">

      <div class="profile-card__name">
        <span class="h6">{{ profile.firstName }}</span>
        <span>{{ profile.lastName }}</span>
      </div>
    </div>

    <div class="profile-card__description">
      {{ profile.description }}
    </div>

    <div class="profile-card__tags">
      @for (stack of profile.stack; track stack + profile.id) {
        <div class="skill-tag">{{ stack }}</div>
      }
    </div>

    <div class="profile-card__action-buttons">
      <button class="button">Подписаться</button>
    </div>
  </div>
} @else {
  Load
}
