.profile-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;

  padding: 2rem 1.5rem;
  border: 1px solid var(--light-color);
}

.avatar-name {
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-gap: 1.25rem;
}

.profile-card__avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  overflow: hidden;
}

.profile-card__name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile-card__tags {
  display: flex;
  gap: 0.5rem 0.25rem;
  align-items: flex-start;
  flex-wrap: wrap;

  height: min-content;
}

.skill-tag {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--light-color);
  border-radius: 0.25rem;

  font-size: 0.75rem;
  line-height: 1.15;
  font-weight: bold;
  text-transform: uppercase;
}
