<div class="profile-card">
  <div class="avatar-name">
    <img src="assets/images/monoliza.jpg" alt="avatar" class="profile-card__avatar">

    <div class="profile-card__name">
      <span class="h6">Монолиза</span>
      <span>Крутая</span>
    </div>
  </div>

  <div class="profile-card__description">
    В этом примере создаются два явных ряда размером 50 и 140 пикселей. Элементы, начиная с третьего,
    в эти два ряда не помещаются, и для них создаются автоматические ряды.
    При помощи свойства grid-auto-rows мы указываем, что автоматические ряды должны иметь размер 40 пикселей.
  </div>

  <div class="profile-card__tags">
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">JS</div>
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">React</div>
    <div class="skill-tag">Vue</div>
  </div>

  <div class="profile-card__action-buttons">
    <button class="button">Подписаться</button>
  </div>
</div>
