<div class="login-form-wrapper">
    <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Вход</h1>

        <div class="login-form-body">
            <div class="form-group">
                <label class="label-name" for="user-name-input">Telegram username</label>
                <div class="input-container">
                    <input id="user-name-input" type="text" formControlName="username" placeholder="Введите логин" />
                </div>
            </div>

            <div class="form-group form-group--password">
                <label class="label-name" for="password-input">Password</label>
                <div class="input-container">
                    <input id="password-input" type="password" formControlName="password" placeholder="Введите пароль" />
                </div>
            </div>

            <button type="submit" class="app-button login-form-button">Войти</button>
        </div>
    </form>
    <img src="assets/icons/logo-icon.svg" alt="">
</div>