<article class="profile-card">
    <div class="profile-card__user">
        <div class="user-avatar-container">
            <img src="assets/images/monoliza.jpg" alt="avatar" />
        </div>
        <div class="user-name-container">
            <h6>Райан Гослинг</h6>
            <span>rayn.gosling</span>
        </div>
    </div>

    <div>
        <p>
            Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
        </p>
    </div>

    <div class="profile-card__skills">
        <div class="skill skill--main">JS</div>
        <div class="skill skill--main">CSS</div>
        <div class="skill">HTML</div>
        <div class="skill">Angular</div>
        <div class="skill">Frontend</div>
    </div>

    <div class="subscribe-button-container">
        <button class="subscribe-button">Подписаться</button>
    </div>
</article>
