<article class="profile-card">
    <div class="profile-card__user">
        <div class="user-avatar-container">
            <img [src]="profile().avatarUrl | imgUrl" alt="avatar" />
        </div>
        <div class="user-name-container">
            <h6>{{ profile().firstName }} {{ profile().lastName }}</h6>
            <span>{{ profile().username }}</span>
        </div>
    </div>

    <div>
        <p>
            {{ profile().description }}
        </p>
    </div>

    <div class="profile-card__skills">
        @for (skill of profile().stack; track $index) {
            <div class="skill">{{ skill }}</div>
        }
    </div>

    <div class="subscribe-button-container">
        <button class="subscribe-button">Подписаться</button>
    </div>
</article>
