@import "margins";

:root {
  font-size: 1em;
  box-sizing: border-box;

  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
  --dark-hover-color: #161616;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  background: url("assets/images/app-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  color: var(--light-color);
  font-family: Arial, sans-serif;
  line-height: 1.33;
}

img {
  max-width: 100%;
}

/* Headers */

h6 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 800;
}

/* Buttons */
.app-button {
  width: 100%;
  padding: 0.625rem 1.25rem;
  background-color: var(--primary-color);
  border: 1px solid var(--dark-color);
  border-radius: 0.25rem;
  color: var(--dark-color);

  font-size: 0.875rem;
  line-height: 1.7;
  font-weight: 700;

  cursor: pointer;
}

/* Titles */
.h1 {
  font-size: 3rem;
  line-height: 1.15;
  font-weight: 800;
}

.h6 {
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: bold;
}

.subtitle {
  font-size: 0.875rem;
  line-height: 1.5e;
}

.app-control {
  display: block;
  font-size: 0.75rem;
  line-height: 1.33;
}

.app-input {
  display: block;
  width: 100%;
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--light-color);
  border-radius: 0.25rem;
  background-color: var(--dark-color);
  color: var(--light-color);

  font-size: 0.875rem;
  line-height: 1.5;
}

.password-input {
  position: relative;
}

.password-eye-button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #FFFFFFBF;

  cursor: pointer;

  transition: color 0.2s ease-out;
}

.password-eye-button.active {
  color: var(--primary-color);
}
